.card-shimmer[data-v-e8429f06]{animation:shimmer-e8429f06 1.5s infinite;background:linear-gradient(90deg,transparent,hsla(0,0%,100%,.1),transparent)}@keyframes shimmer-e8429f06{0%{transform:translate(-100%)}to{transform:translate(100%)}}
